[submodule "initial_mockup"]
	path = initial_mockup
	url = https://github.com/inab/openEBench-widgets.git
	branch = initial_mockup
[submodule "evolution_IV_mockup"]
	path = evolution_IV_mockup
	url = https://github.com/inab/openEBench-widgets.git
	branch = evolution_IV_mockup
[submodule "evolution_I_mockup"]
	path = evolution_I_mockup
	url = https://github.com/inab/openEBench-widgets.git
	branch = evolution_I_mockup
[submodule "evolution_II_mockup"]
	path = evolution_II_mockup
	url = https://github.com/inab/openEBench-widgets.git
	branch = evolution_II_mockup
[submodule "evolution_III_mockup"]
	path = evolution_III_mockup
	url = https://github.com/inab/openEBench-widgets.git
	branch = evolution_III_mockup
[submodule "evolution_V_mockup"]
	path = evolution_V_mockup
	url = https://github.com/inab/openEBench-widgets.git
	branch = evolution_V_mockup
[submodule "evolution_VI_mockup"]
	path = evolution_VI_mockup
	url = https://github.com/inab/openEBench-widgets.git
	branch = evolution_VI_mockup
[submodule "evolution_VII_mockup"]
	path = evolution_VII_mockup
	url = https://github.com/inab/openEBench-widgets.git
	branch = evolution_VII_mockup
