#size {
  padding-bottom: 0px;
}

#generator_buttons {
  display: inline-block;
  margin-left: 75px;
  margin-bottom: 1px;
}

#widget_display {
  margin-top: 35px;
}

#generator_sidebar {
  padding-bottom: 10px;
}

#evolutions_sidebar {
  display: none;
}

#widget_menu {
  margin-left: 7px;
}

body {
  margin-left: 10px;
}

