#size {
  padding-bottom: 0px;
}

#generator_buttons {
  display: inline;
  margin-left: 35px;
}

#widget_display {
  margin-top: 35px;
}

#generator_sidebar {
  padding-bottom: 10px;
}

#widget_menu {
  margin-left: 7px;
}

body {
  margin-left: 10px;
}
