@charset "UTF-8";
/* This is only a placeholder, so the style does exist */

opeb {}

.tooltip {
	position: fixed;
	display: none;
	width: auto;
	height: auto;
	background: none repeat scroll 0 0 white;
	border: 1px solid gray;
	padding: 10px;
	color: black;
	font: 12px sans-serif;
	z-index: 9999;
	border-collapse: collapse;
	border-spacing: 0;
	background-color: #fff;
	empty-cells: show;
	-webkit-box-shadow: 7px 7px 12px -9px #777777;
	-moz-box-shadow: 7px 7px 12px -9px #777777;
	box-shadow: 7px 7px 12px -9px #777777;
}

#uptime path {
	stroke: steelblue;
	stroke-width: 2;
	fill: none;
}

#uptime .axis path,
#uptime .axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}