@charset "UTF-8";

/* This is only a placeholder, so the style does exist */
opeb {
}

.widget text {
	font: 6px sans-serif;
	text-anchor: middle;
	fill: none;
}

.tooltip {
	position: absolute;
	display: none;
	width: auto;
	height: auto;
	background: none repeat scroll 0 0 white;
	border: 3px solid black;
	padding: 10px;
	border-radius: 8px 8px 8px 8px;
	box-shadow: -3px 3px 15px #888888;
	color: black;
	font: 12px sans-serif;
}

#uptime path {
	stroke: steelblue;
	stroke-width: 2;
	fill: none;
}

#uptime .axis path,
#uptime .axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}
